@layout('layouts.app')

@section('content')

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 colxs-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Register to Hacker News
          </div>
          <form method="POST" action="/register">
            {{ csrfField() }}
            <div class="form-group">
              <label for="exampleInputEmail1">Your Name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="container">
        <p>Already registered? Please <a href="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

@endsection